.bodyBackground{
    background-image: url('../source/images/ScienceBackgroundWhite.jpg');
    background-size: 100%;
    font-family: "Merriweather", serif;
    -webkit-text-fill-color: #ffffff;
}

.logoSize{
    width: 4rem;
}

.textContent{
    margin: 5%;
    margin-top: 8%;
    font-size: 1.2rem;
    -webkit-text-fill-color: white;
}

.navBar{
    margin-left: 4%;
    margin-right: 4%;
}