.bodyBackground{
    background-image: url('../source/images/Background2.jpg');
    background-size: 100%;
    font-family: "Merriweather", serif;
    -webkit-text-fill-color: #ffffff;
}

.logoSize{
    width: 4rem;
}

.textContent{
    margin: 20%;
    margin-top: 7%;
    font-size: 1.2rem;
    -webkit-text-fill-color: black;
}

.navBar{
    margin-left: 4%;
    margin-right: 4%;
}

.imgWidth{
    width: 100%;
}